mixin index-content()
  main.index-content
    .index-content__slider
      h1.index-content__slider-heading
        a(href="#") Тобиас
      div 4800 ₽
      p Эргономичная форма сиденья и спинки обеспечивает максимальный комфорт.
    .index-content__products-wrapper
      +index-content-product('Стулья', 'catalogue.html', 28, 9500)
      +index-content-product('Столы', 'catalogue.html', 46, 17200)
      +index-content-product('Диваны', 'catalogue.html', 32, 35500)
    +index-content-product('Стенки', 'catalogue.html', 24, 44800, 'last')


mixin index-content-product(name, href, count, price, mod)
  -var mod = (typeof(mod) === 'undefined') ? '' : 'index-content__product--' + mod;
  a.index-content__product(class=mod href=href)
        h2= name
        div
          h4= name
            span= '(' + count + ')'
        div
          p= 'от ' + price + ' ₽'